<!-- ejs/index.ejs -->
<!doctype html>
<html>
  <head>
    <% include ./parts/head %>
  </head>
  
  <title>Sadira</title>

</head>

<body>

  <header>
    <% include parts/header %>
  </header>
  
  <div class="container">
    
    <div style="float: right">
      <a href="http://gloria-project.eu" target="_blank" style="display: inline-block;"><img src="/gloria/gloria-logo-text-transp-light.svg" style="width: 5em; margin: 1em ;"/></a>
      
      <a href="http://www.iasfbo.inaf.it" target="_blank"  style="display: inline-block;"><img src="/gloria/iasfbo.png" style="width:5em; margin: 1em ;"/></a>
    </div>
    
    <div class="container">
      
      <h1>INAF/IASF-BO ☄<small>  — Astro-web-software</small></h1>
      
      <div class="page-header">	  
	<h4> Welcome <% if(user_id==""){ %>
	  to this sadira server !
	  <% }else{ %>	
	  back <%= user_id %> !
	  <% } %>	
	</h4>
      </div>

      <div class="page-header">
	<h2>The Sadira project</h2>
      </div>
	<p>
	  Qk/Sadira is aimed to be an ECMAScript(JS)/C++ scientific-oriented application framework running on Node.js servers and web-browsers. Its goal is to provide to existing data processing applications:
	</p>
	<div class="panel panel-default">
	  <div class="panel-body">
	    <ul class="list-unstyled">
	      <li>a JavaScript data model based on templates, using <a href="mongodb.org">mongodb,</a></li>
	      <li>an HTML5/CSS3/JavaScript graphical user interface toolkit,</li>
	      <li>peer to peer data and processing exchange between servers and web-browsers,</li>
	      <li>a rich user management system, able to manage various login methods</li>
	    </ul>
	  </div>
	</div>
	
	<!-- <p>Sadira is a web 2.0 general purpose, astronomy oriented data management system, which uses both a relational (MySQL) and a non-relational (MongoDB) database. It will be used within GLORIA to collect and make accessible telescope and user data, in particular images.</p> -->
	
	<!-- <p>Sadira implements a HTTP server that can be contacted by client telescope owners, experiments, to send and receive various data. It can be extended to support other protocols.</p> -->
	
	<!-- <p>The user interface is a web application that permits user accounts management (permissions, groups), the definition of observatories, telescope and instruments. In particular for each instrument, it allows to define the specific data structure and its metadata. These are typically encoded into FITS files. It will also provide a visual interactive access to these information via web browser. </p> -->
      
	
	<!-- <h3>Main components</h3> -->
	
	<!-- <p> -->
	<!--   <ol> -->
	<!--     <li>MongoDB replica-set, sharded. MySQL cluster</li> -->
	<!--     <li>Core classes for browser sessions</li> -->
	<!--     <li>HTTP file server, POST server for receiving data, REST GET server for retrieving data</li> -->
	<!--     <li>HTTP WebSocket server with a binary message protocol for complex and fast interaction with the client browsers</li> -->
	<!--     <li>Users and groups accounts management</li> -->
	<!--     <li>Core graphical user interface classes and widgets</li> -->
	<!--     <li>FITS file access, web visualization widget</li> -->
	<!--     <li>FITS based observations management</li> -->
	<!--     <li>Core software documentation</li> -->
	<!--     <li>User components documentation</li> -->
	<!--   </ol> -->
	<!-- </p> -->
	
	<div class="panel panel-default">
	  <div class="panel-heading"> <h3>Online demos</h3> </div>
	  <div class="panel-body">
	    <ul>
	      <li><a target="_blank" href="http://sadira.iasfbo.inaf.it/XD-1/">XD-1 FITS viewer</a></li>
	      <li><a target="_blank" href="http://sadira.iasfbo.inaf.it/gloria-widget/">GLORIA Image browser/viewer</a> </li>
	    </ul>
	  </div>
	</div>
	
	<div class="panel panel-default">
	  <div class="panel-heading"> 
	    <h3>Source code</h3>
	  </div>
	  <div class="panel-body">
	    <p>The source code is available on github within several source packages</p>
	  </div>
	  <table class="table">
	    <tr><td><a href="http://sadira.iasfbo.inaf.it/github/sadira"> sadira </a> </td><td>Core component</td></tr>
	    <tr><td><a href="http://sadira.iasfbo.inaf.it/github/node-fits"> node-fits </a></td><td>Node.JS FITS frontend</td></tr>
	    <tr><td><a href="http://sadira.iasfbo.inaf.it/github/node-sbig"> node-sbig </a></td><td>SBIG cameras Node.JS frontend</td></tr>
	    <tr><td><a href="http://sadira.iasfbo.inaf.it/github/XD-1"> XD-1 </a></td><td>JS/WebGL FITS viewer</td></tr>
	    <tr><td><a href="http://sadira.iasfbo.inaf.it/github/node-gloria-dbms"> node-gloria-dbms </a></td><td>GLORIA image database services</td></tr>
	    <tr><td><a href="http://sadira.iasfbo.inaf.it/github/gloria-widget"> gloria-widget </a></td><td> GLORIA image database browser</td></tr>
	  </table>
	</div>
    </div>
	
    
    <footer>
      <% include parts/footer %>
    </footer>
    
</body>
</html>
