<!-- ejs/index.ejs -->
<!doctype html>
<html>

  <head>
    <% include ./parts/head %>
    <title>Sadira</title>
    <style>

    </style>

    <script>
      window.addEventListener("load", function(){
      var sadira_home_widget=create_widget("sadira_home");
      document.getElementById("main").appendChild(sadira_home_widget.ui_root);
      });
    </script>
  </head>
  
  <body>
    <header>
      <% include parts/header %>
    </header>
    
    <div class="container-fluid" id="main">

      <div style="float: right">
	<!-- <a href="http://gloria-project.eu" target="_blank" style="display: inline-block;"> -->
	<!--   <img src="/gloria/gloria-logo-text-transp-light.svg" style="width: 5em; margin: 1em ;"/> -->
	<!-- </a> -->
	
	<a href="http://www.iasfbo.inaf.it" target="_blank"  style="display: inline-block;"><img src="/gloria/iasfbo.png" style="width:5em; margin: 1em ;"/></a>
      </div>
      
      <div class="page-header widget_title">
	<h1>INAF/IASF-Bologna ☄<small>  — Astro-web-software</small></h1>
	<h4> Welcome <% if(user_id==""){ %>
	  to this sadira server !
	  <% }else{ %>	
	  back <%= user_id %> !
	  <% } %>	
	  </h4>
      </div>

    </div>
    <footer>
      <% include parts/footer %>
    </footer>
    
  </body>
</html>
