<!-- ejs/index.ejs -->
<!doctype html>
<html>
  <head>
    <% include ./parts/head %>
  </head>
  
  <title>Sadira</title>

  <link rel="stylesheet" href="/sadira/js/community/bootstrap/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="/sadira/js/community/bootstrap/css/bootstrap-theme.min.css"> <!-- load bootstrap css -->
  
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  <style>
    body        { padding-top:0px; }
  </style>
</head>

<body>
  <header>
    <% include parts/header %>
  </header>
  
  <div class="container">
    <main>
      <div class="jumbotron text-center">
	<h1><span class="fa fa-lock"></span> Node Authentication</h1>
	
        <p>Login or Register with:</p>
	
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
	<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
      </div>
    </main>
  </div>
  <footer>
    <% include parts/footer %>
  </footer>
  
</body>
</html>
