<!-- ejs/index.ejs -->
<!doctype html>
<html>
  <head>
    <% include ./parts/head %>
  </head>
  
  <title>Sadira</title>

</head>

<body>
  <header>
    <% include parts/header %>
  </header>
  
  <div class="container">
    <main>
      <div class="jumbotron text-center">
	<h1>Welcome to this sadira server !</h1>
	
        <p>This is the default homepage...</p>
	
      </div>
    </main>
  </div>

  <footer>
    <% include parts/footer %>
  </footer>
  
</body>
</html>
