<!doctype html>
<html>	  
  <head>	

    <% include ./parts/head %>

    <title> <%= user_id %> user page </title>
    
  </head>

    
  <body>
    <header>
      <% include parts/header %>
    </header>

    <div class="container">

      <div class="page-header text-center">
	<h1><span class="fa fa-anchor"></span> Profile Page</h1>
	<a href="/logout" class="btn btn-default btn-sm">Logout</a>
      </div>

      <div class="row">

	<!-- LOCAL INFORMATION -->
	<div class="col-sm-6">
	  <div class="well">
	    <h3><span class="fa fa-user"></span> Local</h3>

	    <p>
	      <strong>id</strong>: <%= user._id %><br>
	      <strong>email</strong>: <%= user.local.email %><br>
	      <strong>password</strong>: <%= user.local.password %>
	    </p>
	    
	  </div>
	</div>

      </div>

      </div>

    <main>
      <div class="container-fluid" id="toto"></div>
    </main>
  </body>

  <footer>
    <% include parts/footer %>
  </footer>

  
  <script>
    window.addEventListener("load", function(){
    });
  </script>


  
</html>
