<!doctype html>
<html>	  

  <head>	
    <% include ./parts/head %>
    <title> <%= tpl_name %> </title>
  </head>

  <body>
    <header>
      <% include parts/header %>
    </header>
    <main id="content"> </main>

    <!-- <footer> -->
    <!--   <% include parts/footer %> -->
    <!-- </footer> -->

  </body>
  
  <script>
    window.addEventListener("load", function(){
    var tpl_name = "<%= tpl_name %>";
    var tpl=tmaster.build_template(tpl_name);
    create_ui({},tpl);
    attach_ui(tpl, document.getElementById("content"));
    });
  </script>
  

</html>
