<!doctype html>
<html>	  

  <head>	
    <% include ./parts/head %>
    <title> <%= tpl_name %> </title>
  </head>

  <body>
    <header>
      <% include parts/header %>
    </header>
    <main>
      <div class="container-fluid" id="toto"></div>
    </main>
  </body>

  <footer>
    <% include parts/footer %>
  </footer>

  <script>
    window.addEventListener("load", function(){
    var tpl_name = "<%= tpl_name %>";
    var tpl=tmaster.build_template(tpl_name);
    create_ui({},tpl);
    attach_ui(tpl, document.getElementById("toto"));
    //xd1_tpl.trigger("view_update");
    });
  </script>
  
</html>
