<!doctype html>
<html>	  

  <head>	
    <% include ./parts/head %>
    <title> <%= tpl_name %> </title>
    <% if(header===true){ %>
    <% } %>	

    <style>
      body{
      padding-bottom: 50px;
      }
    </style>

  </head>

  <body>
  <div id="content">
    <% if(header===true){ %>
    <header>
      <% include parts/header %>
    </header>
    <% } %>

    
    <!-- <main id="content" class="container-fluid"></main> -->
    
    
    <!-- <script> document.getElementById("content").appendChild(create_widget("login").ui_root);</script> -->
    
  </div>
  <footer>
      <% include parts/footer %>
    </footer>

  </body>


  <script>
    window.addEventListener("load", function(){
     attach_ui(create_widget("<%= tpl_name %>"), document.getElementById("content"));
    });
  </script>
  

</html>
