
<p class="text-center text-muted">
  <span class="fa fa-linux"></span>  2013-2015 -- 
  <a href="mailto:sprimont@iasfbo.inaf.it"> Pierre Sprimont</a>,
  <a href="mailto:davide.ricci82@gmail.com"> Davide Ricci</a>,
  <a href="mailto:nicastro@iasfbo.inaf.it"> Luciano Nicastro</a> @
  <a href="http://www.iasfbo.inaf.it" target="_blank">INAF/IASF</a>,
  Bologna, Italy.
  <span class="fa fa-linux"></span> 
</p>
