
<p class="text-center text-muted">☏ 
	  <a href="mailto:sprimont@iasfbo.inaf.it"> P. Sprimont</a>
	  <a href="mailto:davide.ricci82@gmail.com"> D. Ricci</a>
	  <a href="mailto:nicastro@iasfbo.inaf.it"> L. Nicastro</a> @
	  <a href="http://www.iasfbo.inaf.it" target="_blank">INAF/IASF</a>,
	  Bologna,  2013-2015
</p>
