<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="javascript:void(0);"><span class="glyphicon glyphicon glyphicon-leaf" style="color: springgreen;"></span> Sadira </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
	<li class="dropdown">
	  <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projects <span class="caret"></span></a>
	  <ul class="dropdown-menu" role="menu">
	    <li><a href="/widget/xd1">XD-1</a></li>
	    <li><a href="/widget/gloria">Gloria Widget</a></li>
	    <li class="divider"></li>
	    <li><a href="javascript:void(0);">Nunki observatory controller</a></li>
	    <li class="divider"></li>
	    <li><a href="javascript:void(0);">Nilde</a></li>
	  </ul>
	</li>
      </ul>


      <ul class="nav navbar-nav navbar-right">
	<li><a href="/widget/signup">Signup</a></li>
	<li><a id="login" href="javascript:void(0);"></a>
	</li>
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->

  <script>
    window.addEventListener("load",function(){
    var login=tmaster.build_template("login");
    create_ui({},login,5);
    attach_ui(login,document.getElementById("login"));
    });
  </script>
</nav>



