/*
Main Sadira toolkit CSS template
On top of bootsrap 3
*/

@font-face{
  font-family:'Ubuntu'; 
  font-style:normal; 
  font-weight:200; 
  src:url('img/ubuntu-L-webfont.eot'); 
  src:local('Ubuntu Light'),local('Ubuntu-Light'),
  url('../fonts/ubuntu/ubuntu-L-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ubuntu/ubuntu-L-webfont.woff') format('woff'),
  url('../fonts/ubuntu/ubuntu-L-webfont.ttf') format('truetype'),
  url('../fonts/ubuntu/ubuntu-L-webfont.svg#UbuntuLight') format('svg');
}

@font-face {
  font-family: Aileron;
  src: url("../fonts/aileron/Aileron-Regular.otf") format("opentype");
}

/*
@font-face {
    font-family: Aileron;
    font-weight: 200;
    src: url("../fonts/aileron/Aileron-UltraLight.otf") format("opentype");
}
*/


@font-face {
    font-family: Aileron;
    font-weight: 200;
    src: url("../fonts/aileron/Aileron-Thin.otf") format("opentype");
}

@font-face {
    font-family: Aileron;
    font-weight: 300;
    src: url("../fonts/aileron/Aileron-Light.otf") format("opentype");
}

@font-face {
    font-family: Aileron;
    font-weight: 400;
    src: url("../fonts/aileron/Aileron-Light.otf") format("opentype");
}

@font-face {
    font-family: Aileron;
    font-weight: 500;
    src: url("../fonts/aileron/Aileron-Regular.otf") format("opentype");
}

@font-face {
    font-family: Aileron;
    font-weight: 600;
    src: url("../fonts/aileron/Aileron-Bold.otf") format("opentype");
}

@font-face {
    font-family: Aileron;
    font-weight: 700;
    src: url("../fonts/aileron/Aileron-SemiBold.otf") format("opentype");
}

@font-face {
    font-family: Aileron;
    font-weight: 900;
    src: url("../fonts/aileron/Aileron-Black.otf") format("opentype");
}


.db  {
  font-family: Aileron;
} 

body{

/*	      
  max-width: 100%;

	      font-size: 1.2vw;

background: black;
	      color: white;
	      
    */
}

/*
.db[data-type="double"]{
  display: inline-block;
  width: 7em;
}

*/

.full_height_scroll{
 max-height: 100vh;
 overflow-y : auto;	
}

span.fa{
	
}

.left{
  max-height: calc( 100vh - 140px);
  overflow-y : auto;
}

.left .left{
 max-height: 80%;
}

*::-webkit-scrollbar {  
  /*
  display: none; 
  */
}
.navbar-brand>img {
  width : 1.5em;
  margin-right : .3em;	
  display: inline-block;
}

.navbar-inverse>div>div>h3{
 color : #EEE;
}
/*
h1,h2,h3,h4 {
   display: inline-block;
}
*/

.ico{
  width: 1.5em;
  display: inline-block;
  top: -.3em;
  position: relative;
  margin-right: .5em;
}

.clickable{
	cursor: pointer;
}


h1 > small {
  
  margin-left : 1em;
  
}


span.fa{
  margin-right: .4em;
}


label {
  font-family : "Ubuntu";
/*
  font-weight: normal;

  vertical-align: top;
  font-size: 1.0em;
    */
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
  vertical-align : middle;
  cursor : pointer;
}

.scrolling{
	max-height: 75vh;
	overflow-y : auto;
}

.table > thead > tr > td {
  vertical-align : middle;
  color : red;
}

pre {
  background-color : transparent;
  font-family : monospace;
}

.nopadding {
  padding: 0px;	
}

.nomargin {
	   margin: 0px;
}

.inline{
  display: inline-block;
/*
padding-left: .5em;
  padding-right: .5em;
  */
}

.full{
  width: 100%;
}

.brand_name {
  background : #404040;
  color: white;
}

.brand_link {
  font-size : 1.3em;
  color: white;
}


.sadira_panel{
	z-index : 100;
	position : fixed;
	right: 0px;
	top: 0px;
	color: white;
	border: 1px solid blue;
}


table.soft_table {
  background: grey;
  color: white;
}

.divider_container {
	display: flex;
	width: 100%;
	flex-shrink: 0;
}

.h.divider_container{
  flex-direction:column;
}

.v.divider_container{
  flex-direction:row;
  height: 100%;

}

.divider_bar { 
  z-index: 3;
  position: relative;
  border: 3px solid rgba(8,8,8,.5);
}

.divider_bar:hover {
  border: 3px dashed rgba(80,80,255,.9);
}

.h>.divider_bar{
  cursor: row-resize;
  height: .3em;
  margin-left: 0em;
  margin-right: 1em;
}

.v>.divider_bar{
  left: 0 !important;
  cursor: col-resize;
  width: .3em;
  margin-top: 0.5em;
  margin-bottom: 0em;
  margin-left: 3px;
  margin-right: 3px;
}

.v>.divider_bar:hover { 
/*
  background: linear-gradient(to right, rgba(20,30,250,.7), rgba(200,200,250,0.8), rgba(80,80,250,0.8) ); 
*/
}
.h>.divider_bar:hover {
  /*
  background: linear-gradient(to bottom, rgba(20,30,250,.7), rgba(200,200,250,0.8), rgba(80,80,250,0.8) ); 
*/
}

.divnode_rotate{
  font-size: 1.5em;
  /*
  display: block;
  
  */
  font-weight: bold;
  text-shadow: 0px 0px 2px white;
  color: orange;
  cursor: pointer;
  z-index: 4;
}

.divnode_rotate:hover{
/*  font-size: 2em; */
  font-wight: bold;
  border-radius: .2em;
  background: rgba(255,255,0,.4);

}
.h > .divider_bar > .divnode_rotate{
  height:.6em;
  position: absolute; 
  top: -.25em;
  /*
  padding-right: .5em;
*/
}
.v > .divider_bar > .divnode_rotate{
  width: .6em;
  margin-left: -.2em;
  /*
  vertical-align: middle;
  height: 1.5em;
  margin-top : -1.5em;
*/

}

.divided{

  position: relative;
  vertical-align: top;
  opacity: 1.0;
  overflow-y: auto;
  overflow-x :auto;
  margin: 0px;

}

.h .divided{
}

.v .divided{
}

.divided.one{
  margin-right: 0em;
}

.divided.two{
  margin-left: 0em;
}

.label_cnt {
  display: inline-block;
  margin-right: .5em;
}

.label_value {
/*
  display: inline-block;
  margin-left: .5em;
*/
}

.label_value .db{
/*
  margin-left: .3em;
  margin-right: .3em;
*/
}

.nav-tabs>li {
  margin-bottom: -2px;
}


span.label_value {

  padding-right: .3em;
  border-radius: .1em;
}

.dbitem{
  
  display: inline-block;
  vertical-align: middle;
  text-align : left;
  line-height: 2em; 
  height: 100%;
  margin-left : .2em;
  padding-left: .5em;
  padding-right: .5em;

}


.db span.dbitem{
  padding-left: .3em;
  padding-right: .3em;
  border-radius: .2em;
}
*/

/*

navigation
*/

h4 {
  display : inline-block;
}

.widget_title{
  font-family : "Ubuntu"; 

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.navcnt{
  position: relative;
  overflow: hidden;
  overflow-x: auto;
  white-space : nowrap;
  height: 2.5em;
  min-width: 3em;

  /*
	padding-top: .5em;
  padding-bottom: .5em;
  margin-top: .25em; 
  margin-bottom: .25em;
  width: calc(100% - 0px);

  box-shadow : 0px 0px 5px red;
  margin-left: 2em;
  margin-right: 2em;
  */
}

.divided > .navcnt{
  margin-top: 0em;
}

.navcnt > nav{
  position: absolute;
  top: 0px;
  list-style-type: none;
  vertical-align: middle;
  overflow: hidden;
  
  white-space : nowrap;
  padding-bottom: .5em;
  padding-top: .5em;
  

  /*
  line-height: 2.5em;
  background: rgba(180,100,47,.8);  
  margin-bottom: .3em;

  margin-left: 1em;
  overflow: -moz-scrollbars-none;
*/


}

.navcnt > nav > li{
  text-align: center;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-overflow: ellipsis;
}

.navcnt > nav > li.disabled { 
  display: none;
 }

.navcnt::-webkit-scrollbar {  
  display: none; 
}

.navcnt.tabbed > nav > li{

  text-align: center;
  display: inline-block;

  padding-left: .6em;
  padding-right: .4em;

  padding-top: .2em;
  padding-bottom: .2em;
  
  font-size: 1.2em;
  border-radius: .5em;
  margin-right: 1em;
  
  text-shadow : 0px 0px 1px black;
  background : rgba(50,50,50,.9);

  /*
  color: white;
  width: 8em;
  text-shadow : 1px 1px 2px rgba(0,0,0,1.0);
  height: 3.0em;
  background: rgba(20,20,80,0.7);
  border-radius : .7em .7em .7em .7em;
  background: linear-gradient(top, rgba(10,10,10,.7), 50%, rgba(200,200,255,.8), bottom, rgba(100,100,250,0.8) );              
  */
}

.navcnt.tabbed > nav > li{
  background: none;
}

.navcnt.bar > nav > li{
/*
font-size: 1.2em;
*/
}

.navcnt > nav > li:hover{
  box-shadow: 0px 0px 10px white;
/*  background: linear-gradient(rgba(50,50,50,.3), rgba(20,20,50,0.7) 50%, rgba(8,5,13,0.7) ); */
}




h1,h2,h3,h4{
	font-family:"Ubuntu";
	line-height: 1.0;
}

/*
.ico{
  display: inline-block;
}


a .ico{
}

*/


.navcnt.bar > nav{
  padding-bottom : .2em;
  padding-top : .2em;
  padding-left: .2em;
  padding-right: .2em;	  
}
.navcnt.bar > nav > li{
  background: none;
  padding: 0px;
  margin-right: .5em;
  border-right: 1px solid lightgrey;
}

.navcnt.bar > nav > li > .dbname{
/*
color: white;
  text-shadow: 0px 0px 2px black;
  */
}

.navcnt > nav > li.selected {
  /*
  background: rgba(100,255,100,0.2); 
  background: linear-gradient( rgba(2,3,50,.8), rgba(80,80,150,.8) ,rgba(28,53,200,0.8) );   
  */
  background : rgba(5,5,170,.9);
  font-style: normal;
  font-weight: bold;


}

nav.tabbed{ 
/*
  height: 1em;
*/
}


.navcnt > nav > li:hover{
/*  background: rgba(200,255,200,0.9); 

text-shadow: none;
*/
  text-shadow : 0px 0px 1px white;
}

.navcnt.radio{  
  text-align: left;       
  height: 3.5em;
}

.navcnt.radio > nav{ 
  margin-left: 1em;
}

.navcnt.radio > nav > li{ 
  display: inline-block;
  color: white;
  background : rgba(140,140,255,.4);
  border-radius: .2em;
  margin-right: .5em;
  padding: 1em;
  box-shadow : 1px 1px 2px rgba(5,5,5,0.9);  
}

.navcnt.radio > nav > li.selected{ 
  color: white;
  background: rgba(40,40,255,.8);
}

.navcnt.radio > nav > li> input[type="radio"]{ 
  margin-left: 1em;
}

ul.toolbar {
  float: right;
  padding: .5em;
  background: rgba(80,80,80,.6);
}

.horizontal_margin {
    margin-right : .5em;
}
.vertical_margin {
  margin-top : 1em;
  margin-bottom : 1em;
}

.title_margin {
    margin-bottom : 1em;
}

pre {
  max-width: 100%;
}


footer {

 background: black;
 color: white;
  padding-top : 1em;
  margin-top : 1em;
 padding : 5px;
  text-align: right;
 position: fixed;
 display: block;
 bottom: 0px;
 left: 0px;
 right: 0px;
  z-index: 20;
}

/*
label:hover{

  color: yellow;
  cursor: pointer;
}
*/



.big_error{
  float: left;
  color : red;
  font-size: 5em;
}

.error_content{
  margin-top: 2em;
  margin-left: 4em;
  font-size: 1.5em;
  white-space: wrap;
}

.float_right{
  float: right;
}

.close_button{
  /*
  padding-right:.5em;	
margin-left: .3em;
    color: orange;	
*/

  padding-left:.5em;
  cursor: pointer;
  float: right;
}

.close_button:hover{
  color: red;
}

.divided > .dbname > .title{

  /*font-size: 2em;*/
  padding-bottom: .2em;
}


/*  
.db .db .tab_section{
  overflow: auto;
  width: auto;
  max-height: calc(100% - 4.0em);  

  border: 4px solid yellow;
  overflow-y: auto;
  overflow-x: hidden;


  width: calc(100% - 10px);

  display: block;
  vertical-align: top;
}
*/
.tab_section::-webkit-scrollbar{
  display: none;
}


/*
Widget - w-m
*/

.widget {
  position: relative;
  display: block;
  top:  0px;
  left: 0px;
  border-radius : .3em .3em 0em 0em;
  border: 0px solid red;
  box-shadow: 0px 0px 10px black;
}

.widget .topbar{
  display : inline-block;
  background : rgba(10,10,10,.7);
  width: 100%;
  padding: .3em;
  height: 2.5em;
  color: white;
  font-family : "Ubuntu";
}

.widget .content {
  background : rgba(250,250,250,0.7);
  height: calc(  100% - 0.5em);
}


.db[data-tpl="message_handler"] .input-group-addon{
  background: transparent;

}


.db[data-type="videocap"] .widget .content {
  height: 0%;
  display: none;
}

.db[data-type="videocap"] .widget:hover {
  background : rgba(180,100,250,.5);
}

.db[data-type="videocap"] .widget {
  position: relative;
  display: block;
  box-shadow: none;
  border: 2px solid purple;
  z-index: 20;
}

.db[data-type="videocap"] .widget .topbar{
  display : inline-block;
  background : rgba(10,10,10,0.0);
  width: 100%;
  height: 100%;
  padding: 0em;
}


/* 
sliding 
*/

.slide_button{
  background: none;
  border: 0px;
  box-shadow: none;
  border-image-width: 0px;
}

.slide_button:hover{ 
/*  text-shadow: 0px 0px 1px black; */
}

/*
.slide_button.close{
  color: rgba(250,20,25,.9); 
}

.slide_button.close::before{
  content : "❌";
}

.slide_button.open::before{
  content : "▶";
}


.slide_button.open{
  color: rgba(20,20,250,.9); 
}

*/

.sliding{
  opacity :1;
  transition: opacity .5s ease-in-out, margin .3s ease-in-out;
}

.db .sliding { 
/*
  border : 2px solid orange;
  border-radius: 1em;
*/
}


.slided{
  border-radius: .7em;
/*  background: linear-gradient(to bottom, rgba(10,10,10,.7), rgba(80,80,80,0.8) );  */
/*  background:  rgba(60,70,50,0.8); */
  /*box-shadow : 0px 0px 2px rgba(255,255,255,1.0);  
  text-shadow : 0px 0px 2px black; 
  font-weight : normal;
*/
  vertical-align: top;

/*  color: rgba(230,20,30,1.0); */
}

label{
  margin-right: .5em;


  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

label.slided{
	cursor: pointer;
}
label.unslided{
	cursor: pointer;
}

.navbar-default {
  background-color : transparent;
}

.navbar-brand{
  font-weight: 300;
}


.title_logo > span{
  color: springgreen;
  font-family : "Ubuntu";
  font-weight : "bold";
  font-size : 1.2em;
  text-shadow: 1px 1px 1px rgba(200,200,200,1.0);
}

.navbar-brand {
  font-family : "Ubuntu";
  font-weight: "bold";
}

.navbar-brand > * > small {
	      color: lightgrey;
}

.navbar-brand > *{
	     margin: 0px;
	     padding: 0px;
}

.noborder {
	  border: 0px;
}

.db[data-type="videocap"] canvas {

  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  z-index: 1;  
  max-width: 100%;
  max-height: 40vh;
}

.tab_pane {
  border-top: none;
}

.db[data-type="videocap"]> .row >.db{
/*  max-height: 75vh; 
  overflow-y: auto;
  overflow-x: hidden;
*/
  
}

/*
.db[data-type="login"] {
  display: table-cell;
  vertical-align: middle;  
}
.db[data-type="login"] .label{
  padding : .8em;
  vertical-align: bottom;
  margin-right: 1em;
}
.db[data-type="login"] label{
  color: lightgrey;
  font-weight: normal;
  margin-right: .5em;
}

.db[data-type="login"] >a{
  display : inline-block;
  }
*/


.un_editable{
  cursor: pointer;
  /*
  border-radius: .5em;
  border: 2px solid transparent;
  */
}

.editable{
  cursor : pointer;
  text-decoration : underline;
}
.un_editable > label{
  cursor : pointer;
}


.un_editable:hover{
  text-shadow : 0px 0px 5px lightgrey;

}
.editable:hover{
  text-shadow : 0px 0px 5px lightgrey;
}
/*
.db .editable .dbname:hover{
  text-shadow : 0px 0px 5px rgba(20,50,255,0.9);
  text-shadow : 0px 0px 5px rgba(20,50,255,0.8);
}

.db .un_editable > .dbname{
}

.db .editable > .dbname{
}

.db .un_editable .dbname:hover{
  text-shadow : 0px 0px 5px rgba(20,50,255,0.8);
}
*/


.db[data-type="action"]{
  /*
  color: white; 

  padding : .2em;
  cursor: pointer;
  background:  linear-gradient(to bottom, rgba(80,120,200,.7), rgba(100,100,250,0.5) ); 
  display : inline-block;
  border-radius: .4em;
  margin-right: .5em;


*/


}

.db[data-type="action"]:hover{
/*
  background: linear-gradient(to bottom, rgba(8,12,80,.7), rgba(10,10,150,0.5) ); 
  linear-gradient(to bottom, rgba(190,40,200,.7), rgba(80,5,90,0.5) );
 */
}


.db[data-type="action"] > .intro{
}

.db[data-type="action"] > .dbname > input{
/*
  background: yellow;
  font-size: 1.5em;
  width: 100%;
  padding-top: .5em;
  padding-bottom: .5em;
*/
}

.status{
  margin-left: 1em;
  
}

.db[data-type="status"] ul{
  list-style-type: none;
  font-size: .8em;
  color: red;
  padding-top: .5em;
  margin-left: 2em;
}

.db[data-type="action"] input{
  /*
  
  background:  linear-gradient(to bottom, rgba(180,180,220,.3), rgba(200,200,220,0.3), rgba(100,130,250,.3) ); 
  color: white;
  text-shadow : 0px 0px 4px rgba(0,0,0,1);  
  
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
  
  display: inline-block;
  float: right;
  clear: both;
  
  background: linear-gradient(to bottom, rgba(120,30,130,.7), rgba(80,5,90,0.5) ); 
  */

}
.db[data-type="action"] > input:hover{
  background: linear-gradient(to bottom, rgba(8,12,80,.7), rgba(10,10,150,0.5) );
}

/*

Text input

*/

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

/*
.db input[type="button"]:disabled{
  background: black;
  color : white;
  font-weight: normal;
  opacity: .2;
  cursor: default;
}

.db input[type="button"]:disabled:hover{
  color : white;
  background: black;
  font-weight: normal;
}

.db input[type="button"]{
  margin: 0px;
  padding-left: .5em;
  padding-right: .5em;

  /*
  background: linear-gradient(to bottom, rgba(120,30,130,.7), rgba(80,5,90,0.5) ); 
  border-radius: .4em;
  text-shadow : 0px 0px 1px rgba(25,25,25,.9);
  /*  color: black; 

  cursor: pointer;
}

.db input[type="button"]:disabled{
  opacity: .2;
}

.db input[type="button"]:hover{
  color: white;
  background: rgba(20,20,200,.4);
  text-weight: bold;
  text-shadow : 0px 0px 2px rgba(5,20,210,1);  
/*  linear-gradient(to bottom, rgba(190,40,200,.7), rgba(80,5,90,0.5) ); 
}


*/


.masked{
  opacity: .2;
}

.db .disabled { 
  display: none;
} 
.db .db .disabled { 
  display: none;
} 


.info_icon{
  border: 0px;
  width: 2.0em;
  height: 2.0em;
}

.wait_icon { 
  display: inline-block;
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
  margin-left: 1.5em;
}

.wait_icon > svg > circle{ 
  fill : blue;
  width: 2.5em;
  height: 2.5em;
}

.wait_icon > svg{ 
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
}




progress[value] {
  margin-left: 1em;
  height: 1.5em;
  width: 80%;
  display : block;
  vertical-align: middle;
}

progress[value]::-webkit-progress-bar {
  border-radius: .5em;
  background-color: #eee;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}


progress[value]::-webkit-progress-value {
    border-radius: .5em;
  background-color: rgba(140,140,250,.8);
}
/* widget specific styling */

.db input[type="radio"]{
                           margin-left: .1em;
  margin-right: .4em;
  border: 3px solid red;
  box-shadow: none;                       
}

.color_container{
  border: 1px solid rgba(200,200,200,0.7);
  width: 2em;  
}

input[type="color"]{
  border: 0px;
  box-shadow: none;                       
  opacity: 0;
  display: block;
  padding: 0px;
  margin: 0px;
  width: 1.5em;
  height: 1.0em;
}
/*
  -ms-transform: scale(1.5); 
  -moz-transform: scale(1.5); 
  -webkit-transform: scale(1.5); 
  -o-transform: scale(1.5); 
*/

.db input[type="file"]{
  background: none;
}


.db [data-type="status"] > span > span{
  vertical-align: middle;
  padding-left: .5em;
}

.hscroll {
  max-width: calc(100% - 2em);
  overflow-x: auto;
}


.db[data-type="text"]{

  /*
  max-height: 20em;
  max-width: 50%;
  word-wrap: break-word;
  */
}

/*
.form-control[data-type="template_list"]{
 width: auto;
}

.input-group select.form-control{
 width: auto;
}
*/

.db[data-tpl="geometry"] .form-control{
width: auto;
  /*
width: calc(100% - 1em);
*/

}
.db[data-tpl="vector"]>div{
  position: relative;
}



/* 
colormap 

*/
.db[data-type="colormap"]{
/*
width: calc(100% - 2em);
*/
}
.db[data-type="colormap"].un_editable{
/*
 width: calc(100% - 2em);
*/
}
.db[data-type="colormap"].un_editable>.dbitem{
/*
 width: calc(100% - 10px);
*/
}

.db[data-type="colormap"]>.dbitem>.colormap{
  height: 2em;
  min-width: 8em;
}

.db[data-type="colormap"]>.dbitem>div{
  width: calc(100% - 1em);
  margin-left: .5em;
}

.db[data-type="colormap"] .colormap{
  /*
  display: block;
  margin-top: 2em;
  */

  position: relative;
  height: 2em;
  padding-bottom: .5em;
}

.db[data-type="colormap"] .colormap_select_div{
  position: absolute;
  pointer-events: none;
  border-top: 2px solid lightgrey;
  top: 0px;

  border-bottom: 2px solid lightgrey;
  height: calc(2.0em + 4px);
  box-shadow : 0px 0px 5px white;
}

.db[data-type="colormap"]>.dbitem>.cmap_axe{
  width: 100%;
}


.db[data-type="gl_multilayer"] > .child_container{
  /*
  max-height :calc(100% - 2.5em); 
  */
  display: block;
  max-width: calc(100% - 2px);
  max-height: calc(100% - 2.5em);
  overflow: hidden;
  
  z-index: 5;
}
.db[data-type="gl_multilayer"] > .child_container .tab_section{
/*
  overflow: auto;
  width: auto;
  max-height: calc(100% - 6.0em);  
  border: 2px dashed yellow;
*/

  height: auto;
  max-height: calc(100% - .6em); 
}

.db[data-type="gl_multilayer"]  .navcnt{
  padding: 0px;
  height: 1.5em;
}

.db[data-type="gl_multilayer"]  .navcnt > nav {
  padding: 0px;
}

.db[data-type="gl_multilayer"]  .navcnt > nav > li {
  border-radius: 0px;
  font-size: 1em;
}

/*
view manager
*/

.db[data-type="view_manager"]{
  max-height: 70vh;
  max-width: 100%;
  overflow-y : auto;
  overflow-x: hidden;
}

.db[data-type="object_editor"]{
  max-height: 70vh;
  max-width: 100%;
  overflow-y : auto;
  overflow-x: hidden;
}

.vlimit{
  max-height: 80vh;
  overflow-y : auto;
}

.g.cmap_axe{
  stroke-size: 1em;
}

.text{ 
  max-height: 20em;
  width: 100%;
  background-color: white;
  color: black;
  overflow:auto;
} 

.status .flag{
  width: 1em;
  height: 1em;
  display: inline-block;
  border-radius : .2em;
  
}



.plot_container > svg { 
  display: inline-block;
}

.noselect {

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.intro_btn{
  font-size: .8em;
  color: rgba(90,80,200,1.0);
  padding: .3em;
  padding-left : 1em;
  cursor: pointer;
}

.intro_btn:hover{
  font-weight: bold;
}

.sliding_icon{
  padding-left: .5em;
  padding-right: .5em;
  cursor: pointer;
}

/*
WebGL + svg screen
*/

.tabbed>.tab-pane{
  border-bottom : 1px solid lightgrey;
  border-left : 1px solid lightgrey;
  border-right : 1px solid lightgrey; 
  padding : .5em;
}

.drawing_node{
  height : 75vh;
  max-height : 75vh;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: .5em;

/*

  overflow: hidden;

  height: calc(100% - 0px);
  width: calc(100% - 0px);  



  width: 400px;
  height: 400px;
  display: block;
  position: relative;


*/
}

.glscreen{
  /*
  overflow: hidden;

  
  */
  position: relative;
  width: 100%;
  height: 100%;
}

.glscreen_2d{
  z-index: 2;
  position: absolute;
  top:0px; 
  left:0px;

  /*
  margin: 0px;
  padding: 0px;
  overflow: hidden;
*/  

}
.glscreen_3d{

  z-index: 1;
  position: absolute;
  top:0px;
  left:0px;

  /*
  margin: 0px;
  padding: 0px; 
  overflow: hidden;
*/
}

/*
d3 vector shape
*/

.axis  path, .axis line {
  fill: none;
  stroke: lightgrey; 
  shape-rendering: crispEdges;
}

.axis text {
  /*
  color: black; 
  font-weight: normal;
  font-size: .8em;
  stroke: white;
  stroke-width: 1px;
  fill: none;
  font: 10px sans-serif;
  */
  font-size: .5em;
  font-family: sans-serif;

}

.line {
  fill: none;
  stroke: orange;
  stroke-width: 1px;
}

.line_black {
  fill: none;
  stroke: purple;
  stroke-width: 1px;
}


.line_black {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}

.line_red {
  fill: none;
  stroke: rgba(250,50,50,.9);
  stroke-width: 1px;
}

.line_green {
  fill: none;
  stroke: rgba(50,250,50,.9);
  stroke-width: 1px;
}

.line_blue {
  fill: none;
  stroke: rgba(50,50,250,.9);
  stroke-width: 1px;
}

.tline {
  stroke: red;
  stroke-width: 2px;
}

.brush rect.extent {
  fill: #99f;
  fill-opacity: .4;
}

.brush .resize path {
  fill: #eee;
  stroke: white;
}

.select_brush rect.extent {
  fill: #f99;
  fill-opacity: .4;
}

.select_brush .resize path {
  fill: #eee;
  stroke: black;
}

rect.pane {
  cursor: move;
    fill: none;
      pointer-events: all;
 }
      
.vscroll {
  overflow-y:scroll;
}

.hscroll {
  white-space: nowrap;
  overflow-x:auto;
/*  width: 50%; */
}
.hscroll_item {
  white-space: normal;
}

/*
Tooltip stuff
*/


.tip{
  display: inline;
  position: relative;
  /*
  color: purple;
  */
}

/*
.tip::after{
  opacity: 0.0;
  -webkit-transition:opacity 0.4s ease-out;  
  -moz-transition:opacity 0.4s ease-out;  
  -o-transition:opacity 0.4s ease-out;  
  transition:opacity 0.4s ease-out; 
  text-shadow : 0px 0px 1px rgba(0,0,0,1.0);
  z-index: 777;

}
*/

.tip:hover::after{
  background: #333;
  background: rgba(0,0,0,.8);
  border-radius: 5px;
  color: #fff;
  content: attr(title);
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  width: 220px;

  /*
  bottom: 26px;
  left: 20%;
  */

}

.tip:hover:before{
  border: solid;
  border-color: #333 transparent;
  border-width: 6px 6px 0 6px;
  bottom: 20px;
  content: "";
  left: 50%;
  position: absolute;
  z-index: 99;
}

/*

Child representations

*/


.action_box{
  /* border: 2px solid yellow; */
}

.action_box.vertical {
  width: 70%;
  margin-left: 15%;
}

.action_box.vertical > .db {
  width: calc(100% - 1.5em);
/*  background : rgba(30,30,80,.7); 
*/
  margin-bottom: 1em;

}

.proc_monitor{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  
}

.action_message{
  display: inline-block;
  height: 100%;
  margin-left: 1em;
  margin-top: 1em;
  vertical-align: top;

}

/*
Chat
*/

.room_table {


}

.room_table > tr:hover{
   cursor: pointer;
   border: 1px solid yellow;
}


@media only screen and (min-device-width: 1024px) {
  body{
  }
}



/*
Little screen setup


@media only screen and (max-device-width: 480px) {
  body{
    font-size: 3em;
  }
  
}

*/
