/*
Main Sadira toolkit CSS template
*/


*{ 
  margin: 0px;
  padding: 0px;
  border: 0px;


  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

html,body{ 
  width:100%;
  height: 100%;
}


body{
  color: white;
  background: black;
}


@font-face{
  font-family:'Ubuntu'; 
  font-style:normal; 
  font-weight:200; 
  src:url('img/ubuntu-L-webfont.eot'); 
  src:local('Ubuntu Light'),local('Ubuntu-Light'),
  url('../fonts/ubuntu/ubuntu-L-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ubuntu/ubuntu-L-webfont.woff') format('woff'),
  url('../fonts/ubuntu/ubuntu-L-webfont.ttf') format('truetype'),
  url('../fonts/ubuntu/ubuntu-L-webfont.svg#UbuntuLight') format('svg');
}

.db  {
  font-family: Ubuntu;  
  display: block;
  max-width: calc(100% - 2px);
  max-height: calc(100% - 2px);
  overflow: hidden;


  /*
  height: calc( 100% - 15px);
  position: relative;
  
  font-family: sans-serif;
  border: 5px solid black;
  max-height: 100%;
  border-radius: .2em;
  box-shadow: 0px 0px 2px rgba(70,70,250,.8);
  margin: 0px;
  position: relative;
  max-width: calc(100% - .5em); 
  */

} 


*::-webkit-scrollbar {  
/*
  display: none; 
*/
}

.db .db{
  /*
  height: calc(100% - 14px);
  overflow-y: auto;
  overflow-x: auto;
  position: relative;
  */

  max-width: auto;
  max-height: auto;

  border: 2px solid rgba(10,10,10,0.0);
  border-radius: .3em;
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;

}

.childs .childs {
  font-size: 95%;
}

.child_container {

  overflow-y: auto;
  overflow-x: auto;
  border: 0px solid red;
  margin: 0px;
  padding: 0px;
  display: block;
  height: 100%;
  width: 100%

  /*

  position: relative;
  bottom: 0px;
  top: 0px;
  max-height: calc( 100% - 2.5em - 0px) ;
  display: inline-block;
  */
}

.db.db.newline{
  display: block;
}
.db.inline{
  /*
  display: inline-block;
*/
} 

.db> .childs{
  display: inline-block;
  /*
  height: calc(100%);
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  overflow: auto;
  overflow-x:auto;

  */
  padding: 0px;
  margin: 0px;
  max-height: calc(100%);
  max-width: 100%;
}
.db> .childs > .db{
/*  height: auto;*/
}
.db .db>.childs{
  background: rgba(30,30,30,.3);
  border-radius: .3em;
}

/*
 Divided (panned) child view
*/


.divided>.child_container {
  display: inline-block;
 

  position: relative;
  /*
  width: 100%;
  overflow: auto;
  max-height: 100%;
  position: absolute;
  bottom: 0px;
  height: 80%;
  
  */
}

.divided>.child_container .db {
  height: auto;
}


.db.divider{ 
  /*
  
  */
  height: 100%;
  width:100%;
}

.db.divider>.childs{ 
  /*
  position: relative;
  top: 0px;
display: block;
position: relative;
bottom : 0px;
position: relative;
*/
}

.divider_bar { 

  z-index: 3;
  border-radius: .2em;
  position: relative;

  /*
  box-shadow : 0px 0px 2px rgba(50,50,50,1.0);  
  border: 1px solid rgba(0,0,0,1.0);
  position: absolute;      
  margin-left: .25em;  
  top: 0;
  bottom: 0;
  border: 1px outset rgba(250,10,250,.9);
  border-top: 0;
  border-bottom: 0;
  vertical-align: middle;

  */
  box-shadow: 0px 0px 2px white;
  border: 2px solid rgba(8,8,8,.5);
  background: rgba(100,100,100,.8);
}

.divider_bar:hover {
  border: 2px dashed rgba(80,80,255,.9);

}

.h>.divider_bar{
  display: block;
  cursor: row-resize;
  height: .7em;
  margin-left: 15px;
  width: calc(100% - 40px); 
}

.v>.divider_bar{
  cursor: col-resize;
  display: inline-block;
  width: .5em;
  margin-top: 0.5em;
  margin-bottom: .5em;
  height: calc(100% - 1.5em); 
  margin-left: 3px;
  margin-right: 3px;
}

.v>.divider_bar:hover { 
/*
  background: linear-gradient(to right, rgba(20,30,250,.7), rgba(200,200,250,0.8), rgba(80,80,250,0.8) ); 
*/
}
.h>.divider_bar:hover {
  /*
  background: linear-gradient(to bottom, rgba(20,30,250,.7), rgba(200,200,250,0.8), rgba(80,80,250,0.8) ); 
*/
}

.divnode_rotate{
  font-size: 2em;
  /*
  display: block;
  
  */
  font-weight: bold;
  text-shadow: 0px 0px 2px white;
  color: orange;
  cursor: pointer;
  z-index: 4;
}
.divnode_rotate:hover{
  font-size: 3em;
  font-wight: bold;
  border-radius: .2em;
  background: rgba(255,255,0,.4);

}
.h > .divider_bar > .divnode_rotate{
  height:.6em;
  position: absolute; 
  top: -.25em;
  /*
  padding-right: .5em;
*/
}
.v > .divider_bar > .divnode_rotate{
  width: .6em;
  margin-left: -.2em;
  /*
  vertical-align: middle;
  height: 1.5em;
  margin-top : -1.5em;
*/

}

/*
html.dragging * { 
  cursor: col-resize !important;
}
*/

.db.divided{

  /*
  top: 0px;
  
  resize:none;
  background: purple;  
  display: inline-block;

  position: relative;
  */
  height: calc(100% - 1em);
  width: calc(100% - 10px);
  display: block;
  vertical-align: top;
  opacity: 1.0;
  overflow: hidden;
}

.divided .divided{
  overflow: auto;
}

.v .divided{
  display: inline-block;
}

.divided.one{

  margin-right: 0em;

  /*
  display: inline-block;
.db.divider .db.one{
  height: 100%; 
  margin-right: 1em;
  background: red;
float: left;
*/
}

.divided.two{
  margin-left: 0em;
  /*
  display: inline-block;
  background: green;
  height: 100%; 
  float: left;
*/
}

.dbitem{
  
  display: inline-block;
  vertical-align: middle;
  text-align : left;
  /*
  line-height: 2em; 
  height: 100%;
  margin-left : .2em;
  padding-left: .5em;
  padding-right: .5em;
*/
}

.dbitem > .db{
  display: inline-block;
}


.db span.dbitem{
  padding-left: .3em;
  padding-right: .3em;
  border-radius: .2em;
}


/*

navigation
*/

.navcnt{
  position: relative;
  overflow: hidden;
  overflow-x: auto;
  white-space : nowrap;
  padding-top: .5em;
  padding-bottom: .5em;

  margin-top: .25em;
  margin-bottom: .25em;
  width: calc(100% - 0px);
  height: 2.2em;
  min-width: 3em;
  /*
  box-shadow : 0px 0px 5px red;
  margin-left: 2em;
  margin-right: 2em;
*/
}

.navcnt > nav{
  position: absolute;
  top: 0px;
  list-style-type: none;
  vertical-align: middle;
  overflow: hidden;
  
  white-space : nowrap;
  padding-bottom: .5em;
  padding-top: .5em;
  

  /*
  line-height: 2.5em;
  background: rgba(180,100,47,.8);  
  margin-bottom: .3em;

  margin-left: 1em;
  overflow: -moz-scrollbars-none;
*/


}

.navcnt > nav > li{
  text-align: center;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-overflow: ellipsis;
}

.navcnt > nav > li.disabled { 
  display: none;
 }

.navcnt::-webkit-scrollbar {  
  display: none; 
}

.navcnt.tabbed > nav > li{

  text-align: center;
  display: inline-block;

  padding-left: .6em;
  padding-right: .4em;

  padding-top: .2em;
  padding-bottom: .2em;
  
  font-size: 1.2em;
  border-radius: .5em;
  margin-right: 1em;
  
  text-shadow : 0px 0px 1px black;
  color: white;
  background : rgba(50,50,50,.9);

  /*
  width: 8em;
  text-shadow : 1px 1px 2px rgba(0,0,0,1.0);
  height: 3.0em;
  background: rgba(20,20,80,0.7);
  border-radius : .7em .7em .7em .7em;
  
  background: linear-gradient(top, rgba(10,10,10,.7), 50%, rgba(200,200,255,.8), bottom, rgba(100,100,250,0.8) );              
  */
}

.navcnt.tabbed > nav > li{
  background: none;
}

.navcnt.bar > nav > li{
  font-size: 1.2em;
}

.navcnt > nav > li:hover{
  box-shadow: 0px 0px 10px white;
/*  background: linear-gradient(rgba(50,50,50,.3), rgba(20,20,50,0.7) 50%, rgba(8,5,13,0.7) ); */
}
.navcnt > nav > li >.ico{
  font-size: .7em;
  position: relative;
  left: -.5em;
  width: 2em;
  height: 2em;
  margin-bottom: -.5em;
  padding-right: .5em;
}

.navcnt.bar > nav{
  padding-bottom : .2em;
  padding-top : .2em;
  
}
.navcnt.bar > nav > li{
  background: none;
  padding: 0px;
}

.navcnt.bar > nav > li > .dbname{
  color: white;
  text-shadow: 0px 0px 2px black;
}

.navcnt > nav > li.selected {
  /*
  background: rgba(100,255,100,0.2); 
  background: linear-gradient( rgba(2,3,50,.8), rgba(80,80,150,.8) ,rgba(28,53,200,0.8) );   
  */
  background : rgba(5,5,170,.9);
  font-style: normal;
  font-weight: bold;


}

nav.tabbed{ 
/*
  height: 1em;
*/
}


.navcnt > nav > li:hover{
/*  background: rgba(200,255,200,0.9); 

text-shadow: none;
*/
  text-shadow : 0px 0px 1px white;
}

.navcnt.radio{  
  text-align: left;       
  height: 3.5em;
}

.navcnt.radio > nav{ 
  margin-left: 1em;
}

.navcnt.radio > nav > li{ 
  display: inline-block;
  color: white;
  background : rgba(140,140,255,.4);
  border-radius: .2em;
  margin-right: .5em;
  padding: 1em;
  box-shadow : 1px 1px 2px rgba(5,5,5,0.9);  
}

.navcnt.radio > nav > li.selected{ 
  color: white;
  background: rgba(40,40,255,.8);
}
.navcnt.radio > nav > li> input[type="radio"]{ 
  margin-left: 1em;
}

/*
Widget title
*/

.dbname{
  display: inline-block;
  margin-right: 1em;
  vertical-align: top;
  /*
  position: relative;
  margin-top: .5em;
*/
}

.ico{ 
  /*width : 1.5em;*/
  padding-right: .5em;
}

.big_error{
  float: left;
  color : red;
  font-size: 5em;
}

.error_content{
  margin-top: 2em;
  margin-left: 4em;
  font-size: 1.5em;
  white-space: wrap;
}

.dbname > img {
  width : 2em;
}

.dbname > .title{
  display: inline-block;
  font-weight: bold;
  vertical-align: top;
}

.dbname > span{
  display: inline-block;
  margin-top: -1em;
}

.close_button{
  padding:.1em;
  margin-left: .3em;
}
.close_button:hover{
  color: red;
}

.divided > .dbname > .title{
  font-size: 2em;
  padding-bottom: .2em;
}


.db .db .tab_section{
  overflow: auto;
  width: auto;
  max-height: calc(100% - 6.0em);  
/*  
  border: 4px solid yellow;
  overflow-y: auto;
  overflow-x: hidden;


  width: calc(100% - 10px);
*/
  display: block;
  vertical-align: top;
}

.tab_section::-webkit-scrollbar{
  display: none;
}

.tab_section > .dbname > .title{
  /*
  top: 1em; 

  display: inline-block;
  position: absolute;
*/
  vertical-align: middle;
  text-overflow: ellipsis;
  font-size: 1.5em;
}

/*
Widget - w-m
*/

.widget {
  position: absolute;
  display: block;
  top:  100px;
  left: 100px;
  border-radius : .3em .3em 0em 0em;
  border: 0px solid red;
  box-shadow: 0px 0px 10px black;
}

.widget_topbar{
  background: darkblue;
  border-radius : .3em .3em 0em 0em;
  height: 2.5em;
}
/* 
sliding 
*/

.slide_button_h:hover{ 
  color: rgba(0,0,255,1.0);
  text-shadow: 0px 0px 1px black;
}

.slide_button_v:hover{ 
  color: rgba(0,0,255,1.0);
  text-shadow: 0px 0px 1px black;
}

.slide_button_h{ 
  font-size: 1.0em;
  color: rgba(20,20,200,.9); 
/*  text-shadow: 0px 0px 3px rgba(55,155,55,1.0); */
  padding: .4em;
  cursor: pointer;
}


.slide_button_v{ 
  color: rgba(20,20,200,.9); 
  font-size: 1.0em;
/*  text-shadow: 0px 0px 3px rgba(55,155,55,1.0);*/
  padding: .4em;
  cursor: pointer;
}

.sliding{
  /*display: block;*/
  opacity :1;
  transition: opacity .2s ease-in-out, margin-left .2s ease-in-out, margin-right .2s ease-in-out, margin-top .2s ease-in-out, margin-bottom .2s ease-in-out;
  border-radius: .2em;
}

.db .sliding { 
/*
  border : 2px solid orange;
  border-radius: 1em;
*/
}


.slided{
  border-radius: .7em;
/*  background: linear-gradient(to bottom, rgba(10,10,10,.7), rgba(80,80,80,0.8) );  */
/*  background:  rgba(60,70,50,0.8); */
  /*box-shadow : 0px 0px 2px rgba(255,255,255,1.0);  
  text-shadow : 0px 0px 2px black; 
  font-weight : normal;
*/
  vertical-align: top;

/*  color: rgba(230,20,30,1.0); */
}

.db .un_editable{
  /*
  background : rgba(150,180,255,.1);
  padding : .5em;
*/

}

.db .editable .dbname:hover{
  text-shadow : 0px 0px 5px rgba(20,50,255,0.8);
}
.db .un_editable > .dbname{
/*
  color: black;
  text-shadow : 0px 0px 1px black;
*/
}

.db .editable > .dbname{
}

.db .un_editable .dbname:hover{
  text-shadow : 0px 0px 5px rgba(20,50,255,0.8);
}

.db .editable:hover{
  border : 2px dashed blue; 
  background : rgba(200,200,30,.1);
  cursor: pointer;
}

.db .un_editable:hover{
  border : 2px dashed blue; 
  cursor: pointer;
}

/*

intro

*/

.db.tab_section > .intro{ 
  padding-left: .5em;
  font-style: "italic"
}

.db.tab_section > .dbname{
  margin-bottom : 1em;
  /*
  background: rgba(100,200,200,.5);
  padding: .3em;
  */
}

.db .intro {
  display : block;
  padding-top : .5em;
  padding-bottom : .5em;
/*
  padding : .5em;
  margin: .5em;

  border-radius: .2em;
  box-shadow: 1px 1px 7px rgba(100,100,240,.9);
*/
}


.db[data-type="action"]{
  display : inline-block;
  padding : .2em;
  border-radius: .4em;
  color: white; 

  /*
  cursor: pointer;
  background:  linear-gradient(to bottom, rgba(80,120,200,.7), rgba(100,100,250,0.5) ); 
*/

  margin-right: .5em;

}

.db[data-type="action"]:hover{
/*
  background: linear-gradient(to bottom, rgba(8,12,80,.7), rgba(10,10,150,0.5) ); 
  linear-gradient(to bottom, rgba(190,40,200,.7), rgba(80,5,90,0.5) );
 */
}


.db[data-type="action"] > .intro{
}

.db[data-type="action"] > input{
  
  background:  linear-gradient(to bottom, rgba(180,180,220,.3), rgba(200,200,220,0.3), rgba(100,130,250,.3) ); 
  color: white;
  text-shadow : 0px 0px 4px rgba(0,0,0,1);  
  
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
  
  /*
  display: inline-block;
  float: right;
  clear: both;
  
  background: linear-gradient(to bottom, rgba(120,30,130,.7), rgba(80,5,90,0.5) ); 
  */

}
.db[data-type="action"] > input:hover{
  background: linear-gradient(to bottom, rgba(8,12,80,.7), rgba(10,10,150,0.5) );
}

/*

Text input

*/

.db input{
  padding: .3em;

  /*
  height: 100%;
  border: 1px solid red;
  */
  
}
.db input[type="checkbox"]{
  padding: 0em;
  height: auto;
  border: 0px;
  box-shadow: none;                       
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
}



.db input[type="text"]:disabled{
}

.db input[type="button"]:disabled{
  opacity: .2;
}

.masked{
  opacity: .2;
}

.db .disabled { 
  display: none;
} 
.db .db .disabled { 
  display: none;
} 


.info_icon{
  border: 0px;
  width: 2.0em;
  height: 2.0em;
}

.wait_icon { 
  display: inline-block;
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
  margin-left: 1.5em;
}

.wait_icon > svg > circle{ 
  fill : blue;
  width: 2.5em;
  height: 2.5em;
}

.wait_icon > svg{ 
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
}

progress[value] {
  margin-left: 1em;
  height: 1.5em;
  width: 80%;
  display : block;
  vertical-align: middle;
}

progress[value]::-webkit-progress-bar {
  border-radius: .5em;
  background-color: #eee;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}


progress[value]::-webkit-progress-value {
    border-radius: .5em;
  background-color: rgba(140,140,250,.8);
}
/* widget specific styling */

.db input[type="number"]{
  max-width: 6em;
}

.db[data-type="action"]{
    display: inline-block;
}


.db input[type="radio"]{
                           margin-left: .1em;
  margin-right: .4em;
  border: 3px solid red;
  box-shadow: none;                       
}

.db .color_container{
  border: 1px solid rgba(200,200,200,0.7);*/
}

.db .color_container > input[type="color"]{
  border: 0px;
  box-shadow: none;                       
  opacity: 0;
  display: block;
  padding: 0px;
  margin: 0px;
  width: 1.5em;
  height: 1.0em;
}
/*
  -ms-transform: scale(1.5); 
  -moz-transform: scale(1.5); 
  -webkit-transform: scale(1.5); 
  -o-transform: scale(1.5); 
*/

.db input[type="file"]{
  background: none;
}

.db input[type="button"]{
  color: white;
  margin: 0px;
  padding-left: .5em;
  padding-right: .5em;
  /*
  background: linear-gradient(to bottom, rgba(120,30,130,.7), rgba(80,5,90,0.5) ); */
  border-radius: .4em;
  text-shadow : 0px 0px 1px rgba(25,25,25,.9);
  /*  color: black; */

  cursor: pointer;
}

.db input[type="button"]:disabled{
  opacity: .2;
}

.db input[type="button"]:hover{
  color: white;
  background: rgba(20,20,200,.4);
  text-weight: bold;
  text-shadow : 0px 0px 2px rgba(5,20,210,1);  
/*  linear-gradient(to bottom, rgba(190,40,200,.7), rgba(80,5,90,0.5) ); */
}

.db [data-type="status"] > span > span{
  vertical-align: middle;
  padding-left: .5em;
}



.hscroll {
  max-width: calc(100% - 2em);
  overflow-x: auto;
}


.db[data-type="string"] .dbname{
   display : inline-block;
}
.db[data-type="url"] .dbname{
/*   display : inline-block;*/
}
.db[data-type="local_file"] .dbname{
   display : inline-block;
}
.db[data-type="double"] .dbname{
   display : inline-block;
}
.db[data-type="angle"] .dbname{
   display : inline-block;
}
.db[data-type="bool"] .dbname{
   display : inline-block;
}
.db[data-type="date"] .dbname{
   display : inline-block;
}
.db[data-type="bytesize"] .dbname{
   display : inline-block;
}
.db[data-type="status"] .dbname{
   display : inline-block;
}

.db[data-type="text"]{

  /*
  max-height: 20em;
  max-width: 50%;
  word-wrap: break-word;
  */
}

.db[data-type="text"]>.dbitem{
  /*
  border: 2px solid red;
  height: 50%;
  width: 50%;
  display: inline-block;
  */
  overflow: auto;
  max-width: 100%;
}

.db[data-tpl="vector"]{
    width: calc(100% - 1em);
}
.db[data-tpl="vector"]>.dbitem{
  width:100%;
}
.db[data-tpl="vector"]>.dbitem>svg{
  width:100%;
  max-height: 20em;
}
/*
.db[data-type="text"]>.dbitem::-webkit-scrollbar{
  display: block;
} */ 

.db[data-type="text"]>.dbitem >pre{
  white-space: pre-wrap;
}



.db[data-type="action"]{
  display : inline-block;
}

.db[data-tpl="image_db_browser"]{
/*
  height: calc(100% - 5em);
  margin-left: 25%;
  width: 50%;
  overflow-y: scroll;
*/
}

.db[data-tpl="vector"]{

}


/* 
colormap 

*/
.db[data-type="colormap"]{
/*
width: calc(100% - 2em);
*/
}
.db[data-type="colormap"].un_editable{
 width: calc(100% - 2em);
}
.db[data-type="colormap"].un_editable>.dbitem{
 width: calc(100% - 10px);
}

.db[data-type="colormap"]>.dbitem>.colormap{
  height: 2em;
  min-width: 8em;
}

.db[data-type="colormap"]>.dbitem>div{
  width: calc(100% - 1em);
  margin-left: .5em;
}

.db[data-type="colormap"]>.dbitem>div> .colormap{
  /*
  display: block;
  margin-top: 2em;
  */

  position: relative;
  height: 2em;
  padding-bottom: .5em;
}

.db[data-type="colormap"]>.dbitem .colormap_select_div{
  position: absolute;
  pointer-events: none;
  border-top: 2px solid lightgrey;
  top: 0px;

  border-bottom: 2px solid lightgrey;
  height: calc(2.0em + 4px);
  box-shadow : 0px 0px 5px white;
}

.db[data-type="colormap"]>.dbitem>.cmap_axe{
  width: 100%;
}


.db[data-type="gl_multilayer"] > .child_container{
  /*
  max-height :calc(100% - 2.5em); 
  */
  display: block;
  max-width: calc(100% - 2px);
  max-height: calc(100% - 2.5em);
  overflow: hidden;
  
  z-index: 5;
}
.db[data-type="gl_multilayer"] > .child_container .tab_section{
/*
  overflow: auto;
  width: auto;
  max-height: calc(100% - 6.0em);  
  border: 2px dashed yellow;
*/

  height: auto;
  max-height: calc(100% - .6em); 
}

.db[data-type="gl_multilayer"]  .navcnt{
  padding: 0px;
  height: 1.5em;
}

.db[data-type="gl_multilayer"]  .navcnt > nav {
  padding: 0px;
}

.db[data-type="gl_multilayer"]  .navcnt > nav > li {
  border-radius: 0px;
  font-size: 1em;
}

.g.cmap_axe{
  stroke-size: 1em;
}

.text{ 
  max-height: 20em;
  width: 100%;
  background-color: white;
  color: black;
  overflow:auto;
} 

.status .flag{
  width: 1em;
  height: 1em;
  display: inline-block;
  border-radius : .2em;
  
}



.plot_container > svg { 
  display: inline-block;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*
WebGL + svg screen
*/

.drawing_node{
  overflow: hidden;
/*
  border: 5px solid green;
*/
  display: block;
  height: calc(100% - 0px);
  width: calc(100% - 0px);
  position: relative;
}

.glscreen{
  /*
  
  */
  width: 100%;
  height: 100%;
  overflow: hidden;

}
.glscreen_2d{

  position:absolute;
  z-index: 2;
  top:0px; 
  left:0px;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  

}
.glscreen_3d{
  position: absolute;
  z-index: 1;
  top:0px;
  left:0px;
  margin: 0px;
  padding: 0px; 
  overflow: hidden;

  /*  opacity: .5; 
  display: block;
  */
}


/*
d3 vector shape
*/

.axis path, .axis line {
  fill: none;
  stroke: lightgrey; 
  shape-rendering: crispEdges;
}

.axis text {
  /*
  color: black; 
  font-weight: normal;
  font-size: .8em;
  font-family: sans;
  stroke: white;
  stroke-width: 1px;
  fill: none;
  */
  fill: white;
  font: 10px sans-serif;

}

.line {
  fill: rgba(50,50,250,.9);
  stroke: white;
  stroke-width: 1px;
}

.tline {
  stroke: red;
  stroke-width: 2px;
}

.brush rect.extent {
  fill: #99f;
  fill-opacity: .4;
}

.brush .resize path {
  fill: #eee;
  stroke: white;
}

.vscroll {
  overflow-y:scroll;
}

.hscroll {
  white-space: nowrap;
  overflow-x:auto;
/*  width: 50%; */
}
.hscroll_item {
  white-space: normal;
}

/*
Tooltip stuff
*/


.tip{
  display: inline;
  position: relative;
  /*
  color: purple;
  */
}

/*
.tip::after{
  opacity: 0.0;
  -webkit-transition:opacity 0.4s ease-out;  
  -moz-transition:opacity 0.4s ease-out;  
  -o-transition:opacity 0.4s ease-out;  
  transition:opacity 0.4s ease-out; 
  text-shadow : 0px 0px 1px rgba(0,0,0,1.0);
  z-index: 777;

}
*/

.tip:hover::after{
  background: #333;
  background: rgba(0,0,0,.8);
  border-radius: 5px;
  color: #fff;
  content: attr(title);
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  width: 220px;

  /*
  bottom: 26px;
  left: 20%;
  */

}

.tip:hover:before{
  border: solid;
  border-color: #333 transparent;
  border-width: 6px 6px 0 6px;
  bottom: 20px;
  content: "";
  left: 50%;
  position: absolute;
  z-index: 99;
}

/*

Child representations

*/


.action_box{
  /* border: 2px solid yellow; */
}

.action_box.vertical {
  width: 90%;
  margin-left: 5%;
}

.action_box.vertical > .db {
  width: calc(100% - 1.5em);
  background : rgba(30,30,80,.7);
  margin-top: 1em;
}

.proc_monitor{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  
}

.action_message{
  display: inline-block;
  height: 100%;
  margin-left: 1em;
  margin-top: 1em;
  vertical-align: top;

}


/*
Little screen setup
*/

@media only screen and (max-device-width: 480px) {
  body{
    font-size: 3em;
  }
  
}

